<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<body>
    <h1>{{title}}</h1>
    {{#if success}}
        <p>Section created successfully! ID: {{sectionId}}</p>
    {{else}}
        <form action="/sections/newSection" method="post">
            <label for="journalId">Journal ID:</label>
            <input type="text" id="journalId" name="journalId">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title">
            <button type="submit">Create Section</button>
        </form>
        {{#if error}}
            <p>Error: {{error}}</p>
        {{/if}}
    {{/if}}
    <script src="../../public/js/sections.js"></script>
</body>
</html>