<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../public/css/main.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h2>{{title}}</h2>
    </header>
    <main>
        {{#if success}}
            <p>Section created successfully!</p>
            <a href="/journals/{{journalId}}" class="button-link">Back to Journal</a>
        {{else}}
        <form id="new-section-form" action="/sections/newSection" method="post">
            <input type="hidden" name="journalId" value="{{journalId}}">
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <button type="submit" class="button-link">Create Section</button>
        </form>
        <ul id="errors" style="color: red; display: none;"></ul>
        {{#if error}}
            <p>Error: {{error}}</p>
        {{/if}}
    {{/if}}
    </main>

    <footer>
        <a href="/journals/" class="button-link">Back to Journals</a><br>
        <p>2024: The Journal App by CS546 Group 5.</p>
    </footer>
    <script src="../../public/js/sections.js"></script>
</body>
