<head>
    <title>{{section.title}}</title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<body>
    <h2>{{section.title}}</h2>
    <p>Section ID: {{section._id}}</p>
    <a href="/posts/newPost?sectionId={{section._id}}">Create a new post</a>

    <h3>Posts:</h3>
    {{#if section.posts.length}}
    <ul>
        {{#each section.posts}}
        <li><a href="/posts/{{this._id}}">{{this.title}}</a></li>
        {{/each}}
    </ul>
    {{else}}
    <p>No posts yet.</p>
    {{/if}}

    <a href="/journals/{{section.journalId}}">Back to Journal</a>
    <a href="/sections/delete/{{section._id}}" onclick="return confirm('Are you sure you want to delete this section?');">Delete This Section</a>


    <script src="../../public/js/sections.js"></script>
</body>