<head>
        <title>{{username}}</title>
        <link rel = "stylesheet" href="../../public/css/main.css">
</head>
<body>
    <header>
        <h1>{{username}}</h1>
    </header>
    <main>
        {{#if valid}}
            {{#each journals}}
                <h2>{{title}}</h2>
            {{/each}}
        {{/if}}
        {{#each publicPosts}}
            <h2>{{title}}</h2>
            <p>{{time}}</p>
            <p>{{content}}</p>
        {{/each}}
        {{#each comments}}
            <p>{{comment}}</p>
        {{/each}}
    </main>
    <script src="../../public/js/users.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>