<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<header>
    <h1>{{title}}</h1>
    <a href="/posts/update/{{id}}" class="button-link">Update Post</a>
</header>
<main>
        <p>{{content}}</p>
        
        {{#if hasError}}
            <p class="error" name="error">{{error}}</p>
        {{/if}}
        <br>
    
</main>
<footer>
    <p>Last updated: {{time}}</p>
    <a href="/posts/search" class="button-link">Go to Search</a>
    {{#if owned}}
        <a href="/journal.html" class="button-link">Main Journal Page</a>
        <a href="/journals/{{section.journalId}}" class="button-link">Back to Journal</a>
        <a class="button-link" href="/sections/{{sectionId}}">Back to Section</a><br>
        {{#if username}}
            <a class="button-link" href="/users/get/{{username}}">Back to User</a>
        {{/if}}
        <br>
        <a href="/posts/delete/{{id}}" onclick="return confirm('Are you sure you want to delete this post?');" class="delete-button-link">Delete This Post</a>
        <br>
    {{/if}}
    <p>2024: The Journal App by CS546 Group 5.</p>
</footer>
