<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<main>
    <div class="postPage">
        <h1>{{title}}</h1>
        <p>{{content}}</p>
        
        {{#if hasError}}
            <p class="error" name="error">{{error}}</p>
        {{/if}}

        {{#if owned}}
            <a href="/posts/delete/{{id}}" onclick="return confirm('Are you sure you want to delete this post?');">Delete This Post</a><br>
            <a href="/posts/update/{{id}}">Update This Post</a><br>
            <a href="/sections/{{sectionId}}">Back to Section</a><br>
        {{/if}}
        {{#if username}}
            <a href="/users/get/{{username}}">Back to User</a>
        {{/if}}
    </div>
</main>
<footer>
    <p>Last updated: {{time}}</p>
</footer>
